@font-face {
  src: url(../../resources/fonts/Khand-Regular.ttf);
}

.mask {
  -fx-background-color: rgba(51, 12, 47, 0.88);
}

.root {
  -fx-focus-color: transparent;
}

.body {
  -fx-background-image: url(../../resources/background.jpg);
  -fx-background-size: cover;
  -fx-background-position: center center;
}

.logo {
  -fx-margin: 72px;
}

.field {
  -fx-border-width: 1.5px;
  -fx-border-radius: 4px;
  -fx-border-color: #dcdcdc33;
  -fx-background-radius: 4px;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.2), 8px, 0.2, 1px, 2px);
  -fx-font-size: 20;
  -fx-font-family: "Khand Regular";
  -fx-fill: #fefefe;
  -fx-highlight-text-fill: white;
  -fx-text-fill: #fff;
}

.field:focused {
  -fx-border-width: 1.5px;
  -fx-border-radius: 4px;
  -fx-border-color: rgba(220, 220, 220, 0.8);
}

.field:hover {
  -fx-border-width: 1.5px;
  -fx-border-radius: 4px;
  -fx-border-color: #dcdcdc80;
}

.button {
  -fx-background-color: #a11ddf;

  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-padding: 8px 30px;
  -fx-margin: 20px;
  -fx-font-family: "Khand Regular";
  -fx-font-size: 18px;
}
.button:hover {
  -fx-background-color: #8641a1;
}

.button:active {
  -fx-background-color: #741d6b;
}

.footer {
}
