.body {
  -fx-background-color: #efefef;
}

.scrollPane {
  -fx-border-width: 0;
  -fx-background-color: #efefef;
  -fx-border-color: transparent;
  -fx-padding: 0;
  -fx-background-insets: 0;
  -fx-control-inner-background: transparent;
}

.scrollPane > .viewport {
  -fx-background-color: transparent;
}
.footer {
  -fx-border-width: 1 0 0 0;
  -fx-border-color: rgba(0, 0, 0, 0.24);
}
